* {
    padding: 0;
    margin: 0;
}

body {
    background-color: rgb(244, 241, 222);
}

header {
    display: flex;
    width: 100%;
    height: 30%;
    justify-content: space-evenly;
    flex-direction: row;
    padding: 30px;
}

.logo {
    margin-top: 75px;
    width: 220px;
    height: 220px;
}

a {
    text-decoration: none;
    color: black;
}

ul {
    padding-top: 80px;
}

ul li {
    list-style-type: none;
    display: inline;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 1.8rem;
    margin-top: 80px;
    width: 40px;
    height: 50px;
    padding: 15px;
    border-radius: 10px;
}

.nosotros {
    background-color: rgb(242, 204, 143);
    background-image: url(./Logo/nosotros-logo.png);
    background-position: bottom;
    background-size: 50%;
    background-repeat: no-repeat;
    background-position-y: 85%;
    padding-bottom: 16%;

}

.servicios {
    background-color: rgb(224, 122, 95);
    background-image: url(./Logo/servicios-logo.png);
    background-position: bottom;
    background-size: 90%;
    background-repeat: no-repeat;
    background-position-y: 98%;
    padding-bottom: 16%;
}

.locales {
    background-color: rgb(61, 64, 91);
    color: rgba(229, 229, 229, 1);
    background-image: url(./Logo/locales-logo.png);
    background-position: bottom;
    background-size: 90%;
    background-repeat: no-repeat;
    background-position-y: 98%;
    padding-bottom: 16%;
}

.contacto {
    background-color: rgb(129, 178, 154);
    background-image: url(./Logo/contacto-logo.png);
    background-position: bottom;
    background-size: 90%;
    background-repeat: no-repeat;
    background-position-y: 100%;
    padding-bottom: 16%;
}